.env

# Build outputs
dist/
build/
out/
.next/
.nuxt/

builds/

parsenv/
.parsvenv/
env/

__pycache__/
*.pyc
.env
*.egg-info/
dist/
build/node_modules/
apps/dashboard/dist/

apps/dashboard/node_modules/